@model TestBase.ExampleMvc4.Models.SimpleFormModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @Html.DisplayForModel()
</div>
</body>
</html>