<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="ApplicationData" connectionString="Server=.;Database=TestBase;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>
